<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Classification</title>
    <style>
      <link rel="stylesheet" type="text/css" href="styles.css">
    </style>
</head>
<body>
    <header>
        <h1>Breast Cancer Classification</h1>
    </header>
    <form action="{{ url_for('predict')}}" method="POST">
        <legend>Please enter the following measurements:</legend>
        <label for="perimeter_worst">perimeter_worst:</label>
        <input type="number" name="perimeter_worst" id="perimeter_worst" required>

        <label for="radius_worst">radius_worst:</label>
        <input type="number" name="radius_worst" id="radius_worst" required>

        <label for="concave_points_mean">concave_points_mean:</label>
        <input type="number" name="concave_points_mean" id="concave_points_mean" required>

        <label for="area_worst">perimeter_worst:</label>
        <input type="number" name="area_worst" id="area_worst" required>

        <label for="perimeter_mean">perimeter_mean:</label>
        <input type="number" name="perimeter_mean" id="perimeter_mean" required>

        <label for="area_mean">area_mean:</label>
        <input type="number" name="area_mean" id="area_mean" required>

        <label for="radius_mean">radius_mean:</label>
        <input type="number" name="radius_mean" id="radius_mean" required>

        <label for="area_se">area_se:</label>
        <input type="number" name="area_se" id="area_se" required>

        <label for="concavity_worst">concavity_worst:</label>
        <input type="number" name="concavity_worst" id="concavity_worst" required>

        <label for="radius_se">radius_se:</label>
        <input type="number" name="radius_se" id="radius_se" required>

        <label for="compactness_worst">compactness_worst:</label>
        <input type="number" name="compactness_worst" id="compactness_worst" required>

        <label for="perimeter_se">perimeter_se:</label>
        <input type="number" name="perimeter_se" id="perimeter_se" required>

        <label for="compactness_mean">compactness_mean:</label>
        <input type="number" name="compactness_mean" id="compactness_mean" required>

        <input type="submit" value="Submit">
   </form>
   <p>Cancer Result: {{ predict }}</p>
    <footer>
        <p>Kurt Grothe, 2023</p>
    </footer>
</body>
</html>
